# Ignora a pasta de dependências
node_modules/

# Ignora arquivos de ambiente
.env

# Ignora logs
*.log

# Ignora arquivos de build
dist/
build/

# Ignora configurações de IDE
.vscode/

insertMassive.js
.env*
.flaskenv*
!.env.project
!.env.vault
.secrets